.ShakerView {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff3f3;

    .buttonshaker {
        background: #fa4659;
        padding: 2rem;
        border-radius: 70px;
        // box-shadow: 8px 10px #ff7b7b;
        box-shadow: 0 19px #ff8d8d;
        color: white;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 12rem;
        overflow: hidden;

        &:hover {
            // background-color: #ffc1c1;
        }
        .maracas {
            margin-top: .5rem;
            width: 50px;
            height: auto;
        }

        &.clicked {
            background-color: #fa4659;
            box-shadow: 0 5px #ff7b7b;
            transform: translateY(14px);
        }
    }
    

    .buttonshaker:active {
        background-color: #fa4659;
        box-shadow: 0 5px #ff7b7b;
        transform: translateY(14px);
    }

    .motion-permissions {
        font-size: .7rem;
        position: absolute;
        bottom: 15%;
        width: 50%;
        text-align: left;
        .permissions-button {
            padding: 17px;
            margin-top: 1rem;
            background: #dcf1e3;
        }
    }
    
}