.Button {
    .buttonshaker {
        background: #fa4659;
        padding: 2.2rem 2rem;
        border-radius: 100px;
        font-size: 1.5rem;
        // box-shadow: 8px 10px #ff7b7b;
        box-shadow: 0 19px #ff8d8d;
        color: white;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 12rem;
        overflow: hidden;
        cursor: pointer;
        text-transform: uppercase;
        // padding-bottom: 1rem;
        &:hover {
            // background-color: #ffc1c1;
        }
        .maracas {
            margin-top: .5rem;
            width: 78px;
            height: auto;
        }

        &.clicked {
            background-color: #fa4659;
            box-shadow: 0 5px #ff7b7b;
            transform: translateY(14px);
        }
    }
}